/* Общие стили для разделов */
.section {
    text-align: center; /* Выравнивание текста по центру */
    padding: 50px 20px; /* Отступы сверху/снизу и слева/справа */
    background: radial-gradient(circle, rgba(25,14,79,0.5) 10%, #000000 100%); /* Радиационный градиент для фона */
}

.section h2 {
    font-size: 2rem; /* Размер шрифта для заголовка */
    color: azure; /* Цвет заголовка */
    margin-bottom: 30px; /* Отступ снизу у заголовка */
}

/* Сетка карточек */
.card-grid {
    display: grid; /* Использование grid для создания сетки */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Сетка с авто-адаптацией и минимальной шириной колонок 200px */
    gap: 20px; /* Промежуток между элементами сетки */
    padding: 20px; /* Отступы вокруг сетки */
}

/* Общие стили карточек */
.card {
    background-color: #fff; /* Цвет фона карточки */
    border-radius: 18px; /* Закругленные углы у карточки */
    overflow: hidden; /* Прячем содержимое, выходящее за пределы карточки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень вокруг карточки */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавные переходы для трансформации и тени */
    text-align: center; /* Выравнивание текста по центру в карточке */
}

.card:hover {
    transform: translateY(-10px); /* Поднимает карточку вверх при наведении */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Увеличивает тень при наведении */
}

.card a {
    text-decoration: none; /* Убирает подчеркивание у ссылки */
    color: inherit; /* Ссылка наследует цвет родительского элемента */
}

/* Контейнер для изображений */
.card-img-container {
    position: relative; /* Для размещения изображения относительно контейнера */
    overflow: hidden; /* Прячем часть изображения, выходящую за пределы контейнера */
    height: 350px; /* Устанавливает высоту контейнера с изображением */
}

.card-img-container img {
    width: 100%; /* Изображение растягивается по ширине контейнера */
    height: 100%; /* Изображение растягивается по высоте контейнера */
    object-fit: cover; /* Обрезает изображение, сохраняя пропорции */
    transition: transform 0.4s ease, filter 0.4s ease; /* Плавные переходы для трансформации и фильтра */
}

.card:hover .card-img-container img {
    transform: scale(1.1); /* Увеличивает изображение при наведении */
    filter: brightness(80%); /* Затемняет изображение при наведении */
}

/* Заголовок карточки */
.card h3 {
    font-size: 1.1rem; /* Размер шрифта заголовка карточки */
    padding: 15px; /* Отступы внутри заголовка */
    background-color: #f4f4f4; /* Цвет фона заголовка */
    transition: color 0.3s ease; /* Плавный переход для изменения цвета */
}

.card:hover h3 {
    color: #f39c12; /* Цвет заголовка при наведении */
}
